body{
    margin:0;
    font-family: 'poppins',sans-serif;
}
h1{
    font-size: 30px;
}
.name-highlight{
    color: blueviolet;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half img{
    width: 80%;
    
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}